.frosty{
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	border:1px solid black;
	margin: auto;
	border-radius: 10px;
	box-shadow: 2px 2px 2px black;
}

.bowling{
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	border:1px solid black;
	margin: auto;
	border-radius: 10px;
	box-shadow: 2px 2px 2px black;
}

#boot{
	margin: auto;
	background-color: white;
	padding-bottom: 20px;
	border-radius: 10px;
}

.CenterContainer{
    margin: auto;
    width: 80%;
    padding-top: 100px;
}

.frosty:hover { 
   	border:3px solid black;
}

h1{
	text-align: center;
	text-shadow: 2px 2px #ff0000;
	padding-top: 0px;
}

.bowling:hover { 
   	border:3px solid black;
}

	